In [1]:
locs = pd.read_excel('./data/gps_data.xlsx')

In [32]:
header = ['plot','northing','easting','section']
locs.columns = header

In [3]:
locs['section'] = '13N'

In [4]:
dat = pd.read_csv('./data/lai_survey_2016.csv')

In [5]:
trees = pd.read_csv('./data/lai_survey_2016 - trees.csv')

In [6]:
lai_tmp = dat.loc[dat.measurement == 'lai'].copy()

In [7]:
lai_tmp['value'] = pd.to_numeric(lai_tmp.value)

In [8]:
data = pd.DataFrame({'lai':lai_tmp.groupby(by='plot')['value'].mean()})

In [9]:
gf_tmp = dat.loc[dat.measurement == 'gf'].copy()

In [10]:
gf_tmp['value'] = pd.to_numeric(gf_tmp.value)

In [11]:
data['gf'] = gf_tmp.groupby(by='plot')['value'].mean()/100.

In [12]:
data['mean_dbh'] = trees.groupby(by='plot')['DBH'].mean()

In [13]:
trees['ave_height'] = pd.to_numeric(trees.ave_height)

In [14]:
data['mean_tree_height'] = trees.groupby(by='plot')['ave_height'].mean()

In [24]:
species = pd.DataFrame({'code':trees.species.unique()})
species['species'] = ['Pinus ponderosa','Pinus engelmannii','Juniperus scopulorum','pseudotsuga menziesii',
                      'unidentified bush','pinus contorta','pinus flexilis','populus tremuloides','grass','Salix amygdaloides',
                     'abies lasiocarpa']

In [25]:
species

    code                species
0   pipo        Pinus ponderosa
1   pien      Pinus engelmannii
2   jusc   Juniperus scopulorum
3   psme  pseudotsuga menziesii
4   bush      unidentified bush
5   pico         pinus contorta
6   pifl         pinus flexilis
7   potr    populus tremuloides
8    NaN                  grass
9   saam     Salix amygdaloides
10  abla       abies lasiocarpa

0

In [31]:
data['plot'] = data.index

    site     northing     easting section
0      4  4429121.421  470785.219     13N
1      5  4429195.065  470938.559     13N
2      6  4428849.917  471100.325     13N
3      7  4431516.654  469680.617     13N
4      8  4431748.445  469390.047     13N
5     13  4430455.441  461402.500     13N
6     14  4428003.036  462539.149     13N
7     15  4422725.119  458503.619     13N
8     16  4422784.080  459068.915     13N
9     17  4420738.491  457974.978     13N
10    18  4420420.337  457317.945     13N
11    20  4422585.358  449379.415     13N
12    21  4420345.413  450338.635     13N
13    22  4420236.155  450139.938     13N
14    23  4419902.415  449637.990     13N
15    24  4431786.020  454697.112     13N
16    25  4432060.032  453472.267     13N
17    26  4432226.607  452035.599     13N
18    27  4432576.674  451511.530     13N
19    28  4433067.532  451168.752     13N
20    29  4432653.264  450778.862     13N
21    30  4433194.225  450303.132     13N
22    31  4433568.596  450521.209     13N
23    32  4433431.272  451724.596     13N
24    33  4433108.947  452065.863     13N
25    34  4434003.360  450024.763     13N
26    35  4434140.531  449864.879     13N
27    39  4434293.862  459998.297     13N
28    40  4433099.200  459321.819     13N
29    41  4432272.710  459425.708     13N
30    42  4430321.082  458965.382     13N
31    43  4430116.952  458796.875     13N
32    44  4429644.444  459525.532     13N
33    45  4429466.809  460024.731     13N
34    46  4429214.325  459923.873     13N
35    47  4429112.401  459744.881     13N
36    48  4429263.547  460603.102     13N
37    50  4433308.013  450580.902     13N
38    56  4428591.442  457577.326     13N
39    57  4427623.304  458083.712     13N

In [33]:
data = pd.merge(left=data,right=locs,on='plot')

In [36]:
data.to_csv('./output/lai_gf_summary.csv',index=False)

In [38]:
species.to_csv('./output/species_codes.csv',index=False)

In [40]:
del trees['height_average']

In [41]:
trees.to_csv('./output/tree_data.csv',index=False)